In [4]:
import os
import re
import pickle
import numpy as np
import matplotlib.pyplot as plt
import math
import pandas as pd

### Data exploration

In [10]:
# k = 4, â„“ = 12 case (RNA12)

# load in data from R1
data_dir = "/Users/asapp/Documents/VAST/r1/R1_Resubmission/Data/rna_data/rna12/"


freq_data = pd.read_csv(os.path.join(data_dir, "f_rna12.txt"), sep="\t", header=None)

In [14]:
freq_data

           0
0   0.812312
1   0.003972
2   0.003990
3   0.002946
4   0.002495
5   0.001722
6   0.000581
7   0.007514
8   0.007988
9   0.005844
10  0.002161
11  0.004302
12  0.008540
13  0.006132
14  0.006333
15  0.003722
16  0.007176
17  0.008292
18  0.005505
19  0.001891
20  0.010819
21  0.009294
22  0.005613
23  0.006072
24  0.004568
25  0.000087
26  0.007552
27  0.006655
28  0.001882
29  0.000087
30  0.012443
31  0.005368
32  0.005992
33  0.009176
34  0.002027
35  0.006520
36  0.002427